{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}


{% block content %}
<div class="jumbotron">
<h1 class="display-5">Welcome, {{ user.username }}!</h1>
<p class="lead">Use the left menu to manage students and verify exits.</p>
<hr class="my-4">
<p class="small-note">Role: <strong>{{ user.role }}</strong></p>
</div>


<div class="row">
<div class="col-md-6">
<div class="card mb-3">
<div class="card-body">
<h5>Quick Actions</h5>
<a class="btn btn-outline-primary" href="{{ url_for('register_student') }}">Register Student</a>
<a class="btn btn-outline-secondary" href="{{ url_for('verify_exit') }}">Verify Exit</a>
</div>
</div>
</div>
<div class="col-md-6">
<div class="card mb-3">
<div class="card-body">
<h5>Search</h5>
<form action="{{ url_for('list_students') }}" method="get" class="form-inline">
<input name="q" class="form-control mr-2" placeholder="Search by student ID or name">
<button class="btn btn-primary">Search</button>
</form>
</div>
</div>
</div>
</div>
{% endblock %}