{% extends 'base.html' %}
{% block title %}Register Student{% endblock %}

{% block content %}
<h3 class="form-title">Register Student</h3>

<form class="student-register-form" method="post" enctype="multipart/form-data">
    
    <div class="row">
        <div class="field col-4">
            <label>Name</label>
            <input type="text" name="name" class="input-box" required>
        </div>
        <div class="field col-4">
            <label>Father Name</label>
            <input type="text" name="father_name" class="input-box" required>
        </div>
        <div class="field col-4">
            <label>Grandfather Name</label>
            <input type="text" name="grandfather_name" class="input-box" required>
        </div>
    </div>

    <div class="row">
        <div class="field col-3">
            <label>Department</label>
            <input type="text" name="department" class="input-box" required>
        </div>
        <div class="field col-3">
            <label>Year</label>
            <input type="text" name="year" class="input-box" required>
        </div>
        <div class="field col-3">
            <label>Student ID</label>
            <input type="text" name="student_id" class="input-box" required>
        </div>
        <div class="field col-3">
            <label>Email</label>
            <input type="email" name="email" class="input-box" required>
        </div>
    </div>

    <div class="row">
        <div class="field col-6">
            <label>Device/PC Model</label>
            <input type="text" name="device_model" class="input-box">
        </div>
        <div class="field col-6">
            <label>Device Serial Number</label>
            <input type="text" name="serial_number" class="input-box">
        </div>
    </div>

    <div class="field">
        <label>Upload Picture</label>
        <input type="file" name="picture" class="file-upload" accept=".jpg,.jpeg,.png">
    </div>

    <button type="submit" class="btn-submit">Register Student</button>
</form>
{% endblock %}
